.users{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.users-table {
    border-collapse: collapse;
    margin: 0 auto;
}
.tdTh {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.tdTd {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.edit {
    display: block;
}
.btn {
    text-align: center;
    padding: 2px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #639eff;
    background-color: #b7d2ff;
}
.button-edit {
    border: 1px solid #639eff;
    background-color: #b7d2ff;
}
.button-more {
    border: 1px solid #84ff5e;
    background-color: #abff91;
}
.btn:hover {
    cursor: pointer;
}
.btn:focus {
    border:none;
    outline: none;
}
.form {
    padding-bottom: 50px;
}
.form label {
    padding: 10px;
}
.form input {
    width: 35%;
    font-size: 18px;
    display: block;
    text-align: left;
    padding: 10px;
    margin: 5px 5px 5px 10px;
    border: none;
    border-bottom: solid 2px #222;
    background-color: #ddd;
}
#passwords {
    display: none;
}
.change-password button {
    font-size: 18px;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 3px;
    border: 1px solid #639eff;
    background-color: #b7d2ff;
}
