.ul {
    display: block;
    background: #ccc;
    margin: 0;
    padding: 0;
    text-align: center;
}
.li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.li a {
    text-decoration: none;
    color: #222222;
    border: solid 1px black;
}
.li a:hover {
    background: #cfc7b7;
    border-radius: 3px;
    border: solid 1px black;
}
.name {
    float: right;
}
.name span {
    border-right: solid 1px black;
    padding-right: 3px;
    padding-left: 2px;
}