.profile-page{
    text-align: center;
}
.profile-info{
    text-align: left;
}
.user-data {
    padding: 20px 50px;
    border-bottom: solid 1px #ddd;
}
.user-data span {
    font-weight: bold;
    padding: 0 10px;
}
.info-edit {
    padding: 5px;
    border-radius: 3px;
    font-size: 18px;
}