.container {
    width: 1400px;
    border: solid black 1px;
    margin: 0 auto;
}
.date {
    text-align: center;
    width: 220px;
    height: 50px;
    background-color: lightgreen;
    border: solid 1px black;
    margin: 0 auto 50px;
}
.table {
    width: 150px;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    display: inline-block;
    border: solid 1px black;
}
.body {
    width: 120px;
    display: inline-flex;
}
select {
    padding: 5px;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}
p {
    margin: 0;
    padding: 0;
}
