.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);

}
.modal-content {
    width: 900px;
    height: auto;
    margin: 200px auto 0;
    background-color: #fff;
    overflow: auto;
    outline: none;
    border-radius: 3px;
    border: solid 1px #ddd;
    -webkit-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 3px 3px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 3px 3px 0 rgba(50, 50, 50, 0.75);
}
.modal-head {
    text-align: center;
    border-bottom: solid 1px #ddd;
}
.modal-body {
    border-bottom: solid 1px #ddd;

}
.modal-foot{
    padding-top: 50px;
    text-align: center;
}
.modal-foot button {
    font-size: 20px;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 3px;
}
.modal-foot button:hover {
    cursor: pointer;
}
