.container {
    width: 1400px;
    margin: 0 auto;
    border-right: solid 1px blueviolet;
    border-left: solid 1px blueviolet;
}
.date {
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    border: solid 1px black;
    margin: 0 auto 50px;
}
.sheet {
    text-align: center;
    padding-bottom: 20px;
}
.table {
    width: 120px;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    display: inline-block;
    border: solid 1px black;
}
.body {
    display: inline-flex;
    margin-bottom: 5px;
}
select {
    padding: 5px;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}
p {
    margin: 0;
    padding: 0;
}
.userStats {
    display: flex;
}
.userStats div {
    background-color: rgba(1, 0, 0, 0.1);
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px #222222;
}
.userStats div:last-child {
    margin-right: 0;

}
.button-arrow {
    padding-top: 10px;
    border: none;
    background-color: transparent;
}
.button-arrow:hover {
    opacity: 0.5;
}
.button-arrow:focus {
    outline: none;
}
